<!-- include header -->
<%- include("include/_header") %>
  <!--/ include header -->

  <!-- main site -->
  <main>

    <div class="account">
      <div class="account-head">
        <p>
          <svg xmlns="http://www.w3.org/2000/svg" height="16" width="12"
            viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
            <path
              d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z" />
          </svg>
          My Addresses
        </p>
        <hr>
      </div>

      <div class="address-head">
        <a href="/add-address-page">
          <button class="btn">Add Address</button>
        </a>

      </div>

      <div class="address-page">
        <% if(address.length<1 || address===false){ %>
          <div class="address-body">
            No addresses added
          </div>
          <% } else { %>
            <% for(let i=0 ; i<address.length ; i++){ %>
              <div class="address-body">
                <div>
                  <p>Name : <%= address[i].name %>
                  </p>
                  <p>Address : <%= address[i].address %>
                  </p>
                  <p>District : <%= address[i].district %>
                  </p>
                  <p>PIN : <%= address[i].pincode %>
                  </p>
                  <p>Phone : <%= address[i].phone %>
                  </p>
                </div>

                <div class="address-interactions">
                  <% if(address[i].default===true){ %>
                    <button class="btn default">Default</button>
                    <% } else{ %>
                      <a href="/api/makeDefault/<%= i %>">
                        <button class="btn">Make Default</button>
                      </a>
                      <% } %>
                        <a href="/update-address/<%= i %>">
                          <svg xmlns="http://www.w3.org/2000/svg" height="1em"
                            viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                            <path
                              d="M0 64C0 28.7 28.7 0 64 0H224V128c0 17.7 14.3 32 32 32H384V285.7l-86.8 86.8c-10.3 10.3-17.5 23.1-21 37.2l-18.7 74.9c-2.3 9.2-1.8 18.8 1.3 27.5H64c-35.3 0-64-28.7-64-64V64zm384 64H256V0L384 128zM549.8 235.7l14.4 14.4c15.6 15.6 15.6 40.9 0 56.6l-29.4 29.4-71-71 29.4-29.4c15.6-15.6 40.9-15.6 56.6 0zM311.9 417L441.1 287.8l71 71L382.9 487.9c-4.1 4.1-9.2 7-14.9 8.4l-60.1 15c-5.5 1.4-11.2-.2-15.2-4.2s-5.6-9.7-4.2-15.2l15-60.1c1.4-5.6 4.3-10.8 8.4-14.9z" />
                          </svg>
                        </a>
                        <button style="border: none; background-color: transparent;" data-bs-toggle="modal"
                          data-bs-target="#staticBackdrop<%= i %>">
                          <svg xmlns="http://www.w3.org/2000/svg" height="1em"
                            viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                            <path
                              d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                          </svg>
                        </button>
                        <!-- delete Prompt -->

                        <!-- Modal -->
                        <div class="modal modal-sm fade" id="staticBackdrop<%= i %>" data-bs-backdrop="static"
                          data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                          aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm Delete</h1>
                              </div>
                              <div class="modal-body">
                                Are you sure?
                              </div>
                              <div class="modal-footer">

                                <a href="/api/removeAddress/<%= i %>">

                                  <button class="modalbtn" style="background-color: rgb(144, 14, 14);" type="button" class="btn btn-primary">Yes</button>

                                </a>

                                <button class="modalbtn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>

                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- delete Prompt -->

                </div>
              </div>
              <% } %>
                <% } %>

      </div>

  </main>
  <!--/ main site -->

  <!-- footer -->
  <%- include("include/_footer") %>
    <!--/ footer -->