<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="/css/admin_dash.css">
  <link rel="stylesheet" href="/css/productManage.css">
  <link rel="stylesheet" href="/css/orderManage.css">

	<title>AdminHub</title>
</head>
<body>


	<!-- SIDEBAR -->
	<%- include("include/_admin_sidebar") %>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			
			<a href="#" class="notification">
				<i class='bx bxs-bell' ></i>
				<span class="num">8</span>
			</a>
			<a href="#" class="profile">
				<img src="img/people.png">
			</a>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Order Item</h1>
				</div>
				
			</div>

			
      <div class="container">
        <div class="container-head">
          <div class="sec">
            <h4>Product details</h4>
            <p>Product Name : <%= items.pName %></p>
            <p>Quantity : <%= items.quantity %></p>
            <p>Brand : <%= items.bName %></p>
            <p>Category : <%= items.category %></p>
            <p>Colour : <%= items.colour %></p>
            <p>Price : <%= items.price %></p>
            <p>MRP : <%= items.mrp %></p>
            <p>Discount : <%= items.discount %></p>
          </div>
          <div class="sec">
            <p>Subtitle: <%= items.subTitle %></p>
            <br>
            <h4><%= items.descriptionHead %></h4>
            <p><%= items.description %></p>
          </div>
        </div>
        <br>
        <h4>Images</h4>
        <div class="container-body">
          
            <div class="itemImage">
              <% for(let i=0; i<items.image.length; i++){ %>
                <img src="<%= items.image[i] %>">
              <% } %>
            </div>
            
          
        </div>
      </div>
      
			

		</main>
		<!-- MAIN -->

	</section>
	<!-- CONTENT -->
	
</body>
</html>