<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<!-- My CSS -->
	<link rel="stylesheet" href="/css/admin_dash.css">

	<title>AdminHub</title>
</head>

<body>


	<!-- SIDEBAR -->
	<%- include("include/_admin_sidebar") %>
		<!-- SIDEBAR -->



		<!-- CONTENT -->
		<section id="content">
			<!-- NAVBAR -->
			<nav>

				<!-- <a href="#" class="notification">
					<i class='bx bxs-bell'></i>
					<span class="num">8</span>
				</a>
				<a href="#" class="profile">
					<img src="img/people.png">
				</a> -->
			</nav>
			<!-- NAVBAR -->

			<!-- MAIN -->
			<main>
				<div class="head-title">
					<div class="left">
						<h1>Dashboard</h1>
					</div>

				</div>

				<div>
					<button style="padding: 20px;" onclick="generatechartitem('daily')">Daily</button>
					<button style="padding: 20px;" onclick="generatechartitem('currentyearbtn')">Monthly</button>
					<button style="padding: 20px;" onclick="generatechartitem('yearly')">Yearly</button>
					<button style="padding: 20px;" onclick="generatechartitem('weekly')">Weekly</button>
				</div>
				<div>
					<canvas id="myChart"></canvas>
				</div>

				<ul class="box-info">
					<li style="display: flex;flex-direction: column;">
						<span class="text">
							<p>Top 10</p>
							<h3>Products</h3>
						</span>
						<ul>
							<% topProducts.forEach(product => { %>
								<li><%= product.productName %> - <%= product.count %> orders</li>
							<% }); %>
						</ul>
					</li>
					<li style="display: flex;flex-direction: column;">
						<span class="text">
							<p>Top 10</p>
							<h3>Category</h3>
						</span>
						<ul>
							<% topCategories.forEach(category => { %>
								<li><%= category.category %> - <%= category.count %> orders</li>
							<% }); %>
						</ul>
					</li>
					<li style="display: flex;flex-direction: column;">
						<span class="text">
							<p>Top 10</p>
							<h3>Brands</h3>
						</span>
						<ul>
							<% topBrands.forEach(brand => { %>
								<li><%= brand.brand %> - <%= brand.count %> orders</li>
							<% }); %>
						</ul>
					</li>
				</ul>

				<!-- <div class="table-data">
				<div class="order">
					<div class="head">
						<h3>Recent Orders</h3>
						<i class='bx bx-search' ></i>
						<i class='bx bx-filter' ></i>
					</div>
					<table>
						<thead>
							<tr>
								<th>User</th>
								<th>Date Order</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<img src="img/people.png">
									<p>John Doe</p>
								</td>
								<td>01-10-2021</td>
								<td><span class="status completed">Completed</span></td>
							</tr>
							<tr>
								<td>
									<img src="img/people.png">
									<p>John Doe</p>
								</td>
								<td>01-10-2021</td>
								<td><span class="status pending">Pending</span></td>
							</tr>
							<tr>
								<td>
									<img src="img/people.png">
									<p>John Doe</p>
								</td>
								<td>01-10-2021</td>
								<td><span class="status process">Process</span></td>
							</tr>
							<tr>
								<td>
									<img src="img/people.png">
									<p>John Doe</p>
								</td>
								<td>01-10-2021</td>
								<td><span class="status pending">Pending</span></td>
							</tr>
							<tr>
								<td>
									<img src="img/people.png">
									<p>John Doe</p>
								</td>
								<td>01-10-2021</td>
								<td><span class="status completed">Completed</span></td>
							</tr>
						</tbody>
					</table>
				</div> -->
				<!-- <div class="todo">
					<div class="head">
						<h3>Todos</h3>
						<i class='bx bx-plus' ></i>
						<i class='bx bx-filter' ></i>
					</div>
					<ul class="todo-list">
						<li class="completed">
							<p>Todo List</p>
							<i class='bx bx-dots-vertical-rounded' ></i>
						</li>
						<li class="completed">
							<p>Todo List</p>
							<i class='bx bx-dots-vertical-rounded' ></i>
						</li>
						<li class="not-completed">
							<p>Todo List</p>
							<i class='bx bx-dots-vertical-rounded' ></i>
						</li>
						<li class="completed">
							<p>Todo List</p>
							<i class='bx bx-dots-vertical-rounded' ></i>
						</li>
						<li class="not-completed">
							<p>Todo List</p>
							<i class='bx bx-dots-vertical-rounded' ></i>
						</li>
					</ul>
				</div> -->
				</div>
			</main>
			<!-- MAIN -->
		</section>
		<!-- CONTENT -->

		<script>
			$(document).ready(function () {

				var counters = $(".count");
				var countersQuantity = counters.length;
				var counter = [];

				for (i = 0; i < countersQuantity; i++) {
					counter[i] = parseInt(counters[i].innerHTML);
				}

				var count = function (start, value, id) {
					var localStart = start;
					setInterval(function () {
						if (localStart < value) {
							localStart++;
							counters[id].innerHTML = localStart;
						}
					}, 40);
				}

				for (j = 0; j < countersQuantity; j++) {
					count(0, counter[j], j);
				}
			});
		</script>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

		<script src="/js/admin_css.js"></script>
		<script src="/js/admin_chart.js"></script>
</body>

</html>