<!-- include header -->
<%- include("include/_header") %>
  <!--/ include header -->

  <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />

  <!-- main site -->
  <main>

    <div class="account">
      <div class="account-head">
        <p>
          <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18"
            viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
            <path
              d="M0 96l576 0c0-35.3-28.7-64-64-64H64C28.7 32 0 60.7 0 96zm0 32V416c0 35.3 28.7 64 64 64H512c35.3 0 64-28.7 64-64V128H0zM64 405.3c0-29.5 23.9-53.3 53.3-53.3H234.7c29.5 0 53.3 23.9 53.3 53.3c0 5.9-4.8 10.7-10.7 10.7H74.7c-5.9 0-10.7-4.8-10.7-10.7zM176 192a64 64 0 1 1 0 128 64 64 0 1 1 0-128zm176 16c0-8.8 7.2-16 16-16H496c8.8 0 16 7.2 16 16s-7.2 16-16 16H368c-8.8 0-16-7.2-16-16zm0 64c0-8.8 7.2-16 16-16H496c8.8 0 16 7.2 16 16s-7.2 16-16 16H368c-8.8 0-16-7.2-16-16zm0 64c0-8.8 7.2-16 16-16H496c8.8 0 16 7.2 16 16s-7.2 16-16 16H368c-8.8 0-16-7.2-16-16z" />
          </svg>
          Update Account Details
        </p>
        <hr>
      </div>

      <div class="add-address-sec">
        <form action="/api/updateAccount" method="POST">
          <div class="add-address-body">
            <div>
              <label for="name">Name</label><br>
              <input type="text" name="name" class="name" required value="<%= user.name %>">
            </div>

            <div>
              <label for="phone">Phone</label><br>
              <input type="number" name="phone" class="phone" required value="<%= user.phone %>">
            </div>

            <div>
              <a href="/change_password">
                Change Password
              </a>
            </div>

          </div>

          <div>
            <button class="btn" type="submit">Submit</button>
          </div>
        </form>
      </div>

    </div>

  </main>
  <!--/ main site -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
    integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <% if (message) { %>
    <script>

      $(function () {

        toastr.options = {
          "closeButton": true,
          "debug": false,
          "newestOnTop": true,
          "progressBar": true,
          "positionClass": "toast-top-right",
          "preventDuplicates": false,
          "onclick": null,
          "showDuration": "300",
          "hideDuration": "1000",
          "timeOut": "5000",
          "extendedTimeOut": "1000",
          "showEasing": "swing",
          "hideEasing": "linear",
          "showMethod": "fadeIn",
          "hideMethod": "fadeOut"
        }

        if ('<%=message[0]?.success%>') {

          // Display an info toast with no title
          toastr.success("<%=message[0]?.success%>")
        }

        if ('<%=message[0]?.info%>') {
          // Display an info toast with no title
          toastr.info("<%=message[0]?.info%>")
        }

        if ('<%=message[0]?.error%>') {

          // Display an info toast with no title
          toastr.error("<%=message[0]?.error%>")
        }

      });
    </script>
    <% } %>

  <!-- footer -->
  <%- include("include/_footer") %>
    <!--/ footer -->